body {
  text-align: center;
  background-color: #1d212b;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url("images/changes/bass.png" );
  background-size: 50px;
}

.a {
  background-image: url("images/changes/drums.png");
  background-size: 90px;
}

.s {
  background-image: url("images/changes/flute.png");
  background-size: 50px;
}

.d {
  background-image: url("images/changes/guitar.png");
  background-size: 50px;
}

.j {
  background-image: url("images/changes/piano.png");
  background-size: 50px;
}

.k {
  background-image: url("images/changes/saxophone.png");
  background-size: 50px;
}

.l {
  background-image: url("images/changes/violin.png");
  background-size: 50px;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #405d92;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #f54156;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
